<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head" />
<body>
<div th:replace="fragments/header.html :: header (${category})"/>
<div class="row">
    <form class="offset-3 col-6 form-group" th:object="${boardDto}" th:method="post"
          th:action="|@{/boards/{category}/{boardId} (category = ${category}, boardId=${boardDto.id})}|">
        <div>
            <label th:for="title">제목 : </label>
            <input type="text" th:field="*{title}" readonly>
        </div>
        <br/>
        <div th:text="'작성자 : ' + *{userNickname}"></div>
        <br/>
        <div th:text="'작성일 : ' + ${#temporals.format(boardDto.createdAt, 'yy/MM/dd HH:mm')}"></div>
        <br/>
        <div>
            <label th:for="body">내용 : </label>
            <textarea rows="10" style="width: 100%;" th:field="*{body}" readonly/>
        </div>
        <br/>
        <div id="div2" align="center" hidden>
            <button class="btn post-btn" type="submit">수정 완료</button>
        </div>
    </form>
    <div id="div1" th:if="${loginUserLoginId == boardDto.userLoginId}" align="center">
        <button class="btn post-btn" onclick="clickEdit()">수정</button>
        <button class="btn del-btn" th:onclick="|location.href = '@{/boards/{category}/{boardId}/delete (category=${category}, boardId=${boardDto.id})}'|">
            삭제</button>
    </div>
    <div th:unless="${loginUserLoginId == boardDto.userLoginId}" sec:authorize="hasAuthority('ADMIN')" align="center">
        <button class="btn del-btn" th:onclick="|location.href = '@{/boards/{category}/{boardId}/delete (category=${category}, boardId=${boardDto.id})}'|">
            삭제</button>
    </div>
</div>

<script th:inline="javascript">
    function clickEdit() {
        document.getElementById("div1").style.display = 'none';
        document.getElementById("div2").removeAttribute("hidden");
        document.getElementById("title").removeAttribute("readonly");
        document.getElementById("body").removeAttribute("readonly");
    }
</script>
</body>
</html>