<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head" />
<body>
<div th:replace="fragments/header.html :: header (${category})"/>
<div class="row">
    <form class="offset-3 col-6 form-group" th:object="${boardCreateRequest}" th:method="post"
          th:action="|@{/boards/{category} (category = ${category})}|" enctype="multipart/form-data">
        <div>
            <label th:for="title">제목 : </label>
            <input type="text" th:field="*{title}" style="width: 50%">
        </div>
        <br/>

        <div>
            <label th:for="body">내용 : </label>
            <textarea rows="10" style="width: 100%;" th:field="*{body}"/>
        </div>
        <br/>
        <div>
            <label th:for="uploadImage">이미지 첨부 : </label>
            <input type="file" th:field="*{uploadImage}" style="width: 50%">
        </div>
        <br/>
        <div align="center">
            <button class="btn post-btn" type="submit">등록</button>
        </div>
    </form>
</div>
<script th:inline="javascript">
    $("#uploadImage").on("change", (e) => {

        let f = e.target.files[0];

        // 확장자 체크 => 이미지 파일이 맞는지
        let ext = f.name.substr(f.name.lastIndexOf('.')+1).toLowerCase();
        const acceptType = ['gif','png','jpg','jpeg', 'bmp'];

        if(acceptType.indexOf(ext) == -1) {
            alert("이미지만 업로드 가능합니다.")
            delete_image();
            return;
        }

        //최대 용량 10MB 초과
        if (f.size > 10 * 1024 * 1024) {
            alert("업로드 이미지의 최대 크기는 10MB입니다.");
            delete_image();
            return;
        }

    });

    function delete_image() {
        let agent = navigator.userAgent.toLowerCase();

        // 브라우저가 IE인 경우
        if ( (navigator.appName == 'Netscape' && navigator.userAgent.search('Trident') != -1) || (agent.indexOf("msie") != -1) ){
            $("#uploadImage").replaceWith( $("#uploadImage").clone(true) );
        } else {
            $("#uploadImage").val("");
        }
    }
</script>
</body>
</html>