<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head" />
<body>
<div th:replace="fragments/header.html :: header ('login')"/>
<div class="row">
    <form class="offset-4 col-4 form-group" th:method="post" th:action="@{/users/login}" th:object="${userLoginRequest}" align="center">
        <div>
            <label th:for="userName">UserName : </label>
            <input type="text" th:field="*{userName}"/>
        </div>
        <br/>
        <div>
            <label th:for="password">Password : </label>
            <input type="password" th:field="*{password}"/>
        </div>
        <br/>
        <div th:if="${#fields.hasGlobalErrors()}">
            <div class="error-class" th:each="error : ${#fields.globalErrors()}" th:text="${error}" />
        </div>
        <br/>
        <div align="center">
            <button class="btn body-btn" type="submit">로그인</button>
        </div>
    </form>
</div>
</body>
</html>