.nav-btn {
    background-color: lightcyan;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-btn:hover, .nav-btn:focus, .nav-btn:active:focus {
    background-color: cyan;
    animation: jelly 0.5s;
}

.user-btn {
    background-color: lime;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 100px;
}

.user-btn:hover, .user-btn:focus, .user-btn:active:focus {
    background-color: limegreen;
    animation: jelly 0.5s;
}

.post-btn {
    background-color: lime;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 100px;
}

.post-btn:hover, .post-btn:focus, .post-btn:active:focus {
    background-color: limegreen;
    animation: jelly 0.5s;
}

.del-btn {
    background-color: orangered;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 100px;
}

.del-btn:hover, .del-btn:focus, .del-btn:active:focus {
    background-color: #CC0000;
    animation: jelly 0.5s;
}

@keyframes jelly {
    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

.user-form {
    width: max-content;
    height: max-content;
    background-color: lightgoldenrodyellow;
    border: solid 1px yellow;
    border-radius: 30px;
    padding: 50px 50px 30px 50px;
}

.user-form>div>label {
    font-weight: bold;
}

.user-form>div>input {
    width: 300px;
}

.error-input {
    border-color: red;
}

.error-div {
    color: red;
}

.nav-link.active {
    font-weight: bold;
}